<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>

  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/home.css" />

  <!-- Link to external JavaScript file -->
  <script defer src="/js/home.js"></script>

  <!-- Link to Google Fonts for Material Symbols -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,200,0,-25" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <!-- Main container -->
  <div class="container banner-slide" id="bannerContainer"
    style="background-image: url('<%= banner.length > 0 ? banner[0].image : [] %>');">
    <nav class="navbar">
      <!-- Logo -->
      <img src="/images/Fiora1/1.png" class="logo" alt="Logo" />

      <!-- Navigation links -->
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/aboutUs">About</a></li>

        <% if (locals.user) { %>
          <li class="dropdown">
            <a href="#" class="sign-in-link">
              <%= locals.user.name %>
            </a>
            <div class="dropdown-content">
              <a href="/userProfile">Profile</a>
              <a href="/logout">Logout</a>
              <div style="display: none;" id="current-time"></div>
            </div>
          </li>
          <% } else { %>
            <li><a href="/signup" class="sign-in-link">Sign Up</a></li>
            <li><a href="/login" class="sign-in-link">Log in</a></li>
            <% } %>


      </ul>

      <input type="text" class="search-bar" placeholder="Search..." id="searchInput" />
      <div class="search-dropdown" id="searchDropdown">
        <div class="search-content" id="searchContent">
          <!-- Search results will be populated here -->
        </div>
      </div>

      <!-- Navigation icons -->
      <div class="nav-icons">
        <a id="profile-link" style="color: white;" href="<%= locals.user ? '/wishlist' : '/signup' %>"><span
            class="material-symbols-outlined icon">favorite</span></a>
        <a id="profile-link" style="color: white;" href="<%= locals.user ? '/userProfile' : '/signup' %>"><span
            class="material-symbols-outlined icon">person</span></a>
        <a id="profile-link" style="color: white;" href="<%= locals.user ? '/cart' : '/signup' %>"><span
            class="material-symbols-outlined icon">local_mall</span></a>
      </div>

      <!-- Hamburger menu for mobile view -->
      <div class="hamburger" id="hamburger">
        <span class="material-symbols-outlined menu">menu</span>
      </div>

      <!-- Mobile menu -->
      <ul class="mobile-menu" id="mobile-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/aboutUs">About</a></li>
        <li><a href="/contactUs">Contact Us</a></li>
        <li><a href="/wishlist"><i class="fa fa-heart"></i> Wishlist</a></li>
        <li><a href="/signup"><i class="fa fa-user"></i> Profile</a></li>
        <li><a href="/cart"><i class="fa fa-shopping-bag"></i> Cart</a></li>
      </ul>
    </nav>